.input-field-div{
    display: flex;
    justify-content: center;
    padding: 20px;
    position: fixed;
    left:50%;
    background: var(--background-color);
    box-shadow: 1px 1px 3px 3px rgba(82, 82, 82, 0.334);
    transform: translateX(-50%);
    width: 100%;
    top:0;
    z-index: 1000;
}
.input-field{
    width: 900px;
    max-width: 700px;
    font-size: large;
    align-self: center;
    background:var(--background-color);
    color: var(--primary-color);
    border-radius: 20px;
    border: 2px solid var(--primary-color); 
    outline:none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 60px;
}
.search-button{
    transform: translateX(-150%);
    height: 20px;
    width:auto;
    align-self: center;
}
.search-button:hover{
    cursor: pointer;
}
.input-field-result{
    font-size:20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.output-a{
    display:block;
    font-size: 20px;
}
.loading-screen{
    background: var(--background-color);
    position: fixed;
    width: 100vw;
    height: 100vh;
    left:0;
    top:0;
    z-index: 2000;
}
