.tree-ul{
    position: relative;
    display: flex;
    border-radius:20px;
    margin:5px;
    caret-color: transparent;
    white-space: nowrap;
}

.ul-name{
    font-size: 13px;
    padding-left: 30px;
    padding:5px;
    color:var(--primary-color);
    margin-top:6px;
    border-radius: 20px;
}

.no-children{
    font-size: 12px;
    color:var(--secondary-color);
    margin: 1px;
}
.no-children:hover{
    cursor: pointer;
}

.node-container{
    display: inline;
    align-self: center;
}
.rootnode{
    margin-left: 100px;
    margin-right: 0;
    color:var(--secondary-color);
    transform: translateX(50%);
}
.tree-ul.rootdiv{
    margin-top:100px;    
    margin-left:10px;
}

.noparent{
    padding-left:200px !important;
    margin-left: -150px;
}
.tree-div{
    margin-top:100px;
    margin-left:-150px;
    position:relative;
}